*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/buildSrc/build/
/components/build/
/components/build/intermediates/javac/debug/classes/
/di/build/
/di/build/intermediates/javac/debug/classes/
/domain/build/
/domain/build/classes/java/main/
/feature/coin/detail/build/
/feature/coin/detail/build/intermediates/javac/debug/classes/
/feature/coin/list/build/
/feature/coin/list/build/intermediates/javac/debug/classes/
/navigation/build/
/navigation/build/intermediates/javac/debug/classes/
/remote/build/
/remote/build/intermediates/javac/debug/classes/
/utils/dispatcher/build/
/utils/dispatcher/build/classes/java/main/